
<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src={{imageUrl}} width="150px" height="150px" alt={{product._id}}>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"> {{product.name}} </h5>
                <p class="card-text"> <a *ngIf="!isAdmin" routerLink="/products" data-toggle="modal"
                        [attr.data-target]="'#' + product._id">add product</a></p>
                <p class="card-text"><small class="text-muted">{{product.price}} ₪</small></p>
                <a *ngIf="isAdmin" routerLink="/admin-actions" [state]="{ data: product }"> edit product </a>

            </div>
        </div>
    </div>
</div>
<app-add-product-cart *ngIf="!isAdmin" [product]="product"></app-add-product-cart>